<div class="row">
  <div class="col">
    <h2>Costs</h2>
    <p>Costs Table</p>
  </div>
</div>

<div class="row mb-5">
  <div class="col">

    <div id="dataTable" class="hot handsontable"></div>

  </div>
</div>

<div class="row mt-5">
  <div class="col">

    <div id="employee" class="hot handsontable">

    </div>

  </div>
</div>
